<!--proyecto c-a-c : farmacia poison en av.constituyentes, caba , fanpage -->
{% extends "layout.html" %}

{% block title %}Horarios Farmacia Poison{% endblock %}
{% block main %}
            <main id="principal">
                <div class="sub-grid-text">
                    <h1>Nuestros Horarios</h1>
                </div>
                <table class="table-time">
                    <tr><th colspan="2">Horarios</th></tr>
                    <tr><td>Lunes</td><td>8:45 a 10:23</td></tr>
                    <tr><td>Martes</td><td>13:08 a 14:59</td></tr>
                    <tr><td>Miércoles</td><td>Cerrado</td></tr>
                    <tr><td>Jueves</td><td>0:59 a 1:01</td></tr>
                    <tr><td>Viernes</td><td>11:11 a 22:22</td></tr>
                    <tr><td>Sábados</td><td>19:00 a 23:30</td></tr>
                    <tr><th colspan="2">Domingos de guardia</th></tr>
                </table>
            </main>
{% endblock %}