<!--proyecto c-a-c : farmacia poison en av.constituyentes, caba , fanpage -->
{% extends "layout.html" %}

{% block title %}Productos Farmacia Poison{% endblock %}
{% block main %}
            <main id="principal">
                <div class="sub-grid-text">
                    <h1>Nuestros Productos</h1>
                </div>
                <!-- slides  -->
                <div class="card">
                    <!-- image 1  -->
                    <div class="cardpart card1"></div>
                    <!-- image 2  -->
                    <div class="cardpart card2"></div>
                    <!-- image 3  -->
                    <div class="cardpart card3"></div>
                </div>
                <br>
                <br>
                <div class="sub-grid-prod">
                    <!-- a grid container for all products -->
                    <div class="item prod1">
                        <p><h3>Arsénico</h3></p>
                        {% load static %}
                        <img src="{% static 'assets/prod-arsenico-400x288.jpg' %}" alt="Farmacia Poison Arsenico">
                        <ul>
                            <li>Del grupo de los metaloides</li>
                            <li>Raramente se encuentra en estado sólido</li>
                            <li>Buscá la promoción al fondo del envase</li>
                        </ul>
                        <hr class="hr-prods">
                    </div>
                    <div class="item prod2">
                        <p><h3>Cianuro</h3></p>
                        <img src="{% static 'assets/prod-cianuro-400x288.jpg' %}" alt="Farmacia Poison Cianuro">
                        <ul>
                            <li>Anión monovalente</li>
                            <li>Formado por un átomo de carbono y un átomo de nitrógeno</li>
                            <li>Oferta envase retornable</li>
                        </ul>
                        <hr class="hr-prods">
                    </div>
                    <div class="item prod3">
                        <p><h3>Cicuta</h3></p>
                        <img src="{% static 'assets/prod-cicuta-400x288.jpg' %}" alt="Farmacia Poison Cicuta">
                        <ul>
                            <li>Especie herbácea bienal</li>
                            <li>De la familia de las apiáceas</li>
                            <li>Producto totalmente orgánico</li>
                        </ul>
                        <hr class="hr-prods">
                    </div>
                    <div class="item prod4">
                        <p><h3>Estricnina</h3></p>
                        <img src="{% static 'assets/prod-stricnina-400x288.jpg' %}" alt="Farmacia Poison Estricnina">
                        <ul>
                            <li>Polvo cristalino blanco, inodoro y amargo</li>
                            <li>Puede ser ingerido, inhalado o bebido</li>
                            <li>Actualmente sin stock</li>
                        </ul>
                        <hr class="hr-prods">
                    </div>
                    <div class="item prod5">
                        <p><h3>Antrax</h3></p>
                        <img src="{% static 'assets/prod-anthrax-400x288.jpg' %}" alt="Farmacia Poison Anthrax">
                        <ul>
                            <li>Producto concentrado</li>
                            <li>Esporas libres de grumos</li>
                            <li>Envío por correspondencia bonificado</li>
                        </ul>
                        <hr class="hr-prods">
                    </div>
                    <div class="item prod6">
                        <p><h3>Mercurio</h3></p>
                        <img src="{% static 'assets/prod-mercurio-400x288.jpg' %}" alt="Farmacia Poison Mercurio">
                        <ul>
                            <li>Metal líquido</li>
                            <li>De fácil absorción</li>
                            <li>Combinable con Cianuro</li>
                        </ul>
                        <hr class="hr-prods">
                    </div>
                </div>
                <h1>Seleccioná tus productos</h1>
                    <p class="lead">Ingresalos al carro de compras</p>
                    <hr class="my-2">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'chango' %}" role="button">Comenzar</a>
                    </p>
            </main>
            <br><br>
{% endblock %}